/*resest*/
*{
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
}

/*Barrra de inicio */

header{
    width: auto;
    height: 101px; /*101*/
    background-color: black;
    font-family:Arial, Helvetica, sans-serif white;
    font-style: 19px;
    font-size: 19px;
    line-height: 23px;
    line-height: 100%;
    vertical-align: center;
    letter-spacing: 12%;
    }

.navegador {
    display: flex;
    flex-direction: row;
    }

.products{ 
    position: absolute;
    left: 7.23%;
    right: 75.29%;
    top: 2.42%;
    bottom: 93.11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    color: #FFFFFF; 
}

.discounts{
    position: absolute;
    left: 24.71%;
    right: 57.81%;
    top: 2.42%;
    bottom: 93.11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    color: #FFFFFF; 
}

.imagen{
    position: absolute;
    width: 56px;
    height: 56px;
    left: 1100px;
    top: 25px;
}

.partners{
    position: absolute;
    left: 57.93%;
    right: 24.59%;
    top: 2.42%;
    bottom: 93.11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    color: #FFFFFF;
}

.about{
    position: absolute;
    left: 75.41%;
    right: 7.12%;
    top: 2.42%;
    bottom: 93.11%;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 19px;
    line-height: 23px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.12em;
    font-variant: all-small-caps;
    color: #FFFFFF;

}

/*cuerpo*/

main{
    background-image: url(fondo/fondo.png);
    background-size:cover;
    width: auto;
    height: 2000px;
    left: 0px;
    top: 0px;
}

.cuerpo{
    background-color: black;
    position: absolute;
    width: 1728px;
    height: 1800px;
    left: 225px;
    top: 203px;
}


h1{
    position: absolute;
    width: 442px;
    height: 78px;
    left: 637px;
    top: 21px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    font-size: 64px;
    line-height: 78px;

    text-align: center;
    letter-spacing: 0.3em;
    color: #FD7D54;
    }

h2{
    position: absolute;
    width: 635px;
    height: 42px;
    left: 542px;
    top: 125px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

    /* MATTE*/

.matte{} /*VER COMO HACE EL CUADRO*/

.matte circle{ 
   
} /*VER COMO CENTRAR*/

.matte linea1