/* FUENTE MONTSERRAT */
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/*resest*/
*{
    box-sizing: border-box;
    border: none;
    text-decoration: none;
    font-family: 'Montserrat'; 
    color: white; 
}

 body {
    margin: 0;
    padding: 0;
 }

/*Barrra de inicio */

header{
    display:flex;
    justify-content:space-around ;
    align-items: center;
    height: 101px;
    width: 1728px;
    font-size: 19px;
    font-weight: 800;
    line-height: 23px;
    letter-spacing: 0.12em;
    background-color: #000000;
}

.cabeza{
    width: 302px;
    text-align: center;
}


/*cuerpo*/

main{
    width: 1728px;
    height: 998px;
    border: 1px solid black;
    box-sizing: border-box;
    background-image: url(fondo/fondo.png);
    background-position: center;
}


.cuerpo{
    width: 1278px;
    height: 794px;
    background-color: #000000;
    border: 1px solid black;
    box-sizing: border-box;
    margin: 102px 225px;
    text-align: center;
}


.cuerpo h1{
    font-weight: 800;
    font-size: 64px;
    text-align: center;
    letter-spacing: 0.3em;
    color: #fd7d54;
}

.cuerpo p{
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 1px;
    margin-bottom: 50px;
    color:#FFFFFF
}
 
/*Seccion de tarjetas*/

.contenedor{
    margin-left: 109px;
    margin-right: 119px;
    display: flex;
    justify-content: space-between;
}

.clase{
    width: 293px;
    height: 440px;
    left: 334px;
    top: 462px;
    border: 4px solid white;
    padding-top: 20px;
}

.clase h2 {
    font-size: 27px;
    font-weight: 800;
    margin-bottom: 0px;
}

.clase a {
    color: #41C3F6;
    font-weight: 800;
    font-size: 19px;
    font-size: 19px;
    line-height: 23px;
}
